%% -*- erlang -*-

{release, {erldns, "1.0"},
 [
  kernel,
  stdlib,
  sasl,
  lager,
  {recon, load},
  {jsx, load},
  {poolboy, load},
  {dns, load},
  erldns
 ]}.

{extended_start_script, true}.
{include_erts, false}.
{sys_config, "sys.config"}.

{overlay,
 [
  {mkdir, "log/sasl"},
  {mkdir, "priv"},
  {copy, "vm.args", "releases/{{release_version}}/vm.args"},
  {copy, "zones.json", "priv/zones.json"}
 ]}.
